<div class="jumbotron" style="margin-top:0px;margin-bottom:0px;padding:10px 0px;">
	<h1 align="center" style="margin-top:0px;"><small>AutoLink RESTful</small> </h1>
	<h2 align="center">TABLA DE ENLACES GENERADOS</h2>
</div>

<div class="container-fluid" style="margin-top: 0px;">
	<div class="row">
		<div class="table-responsive">

			<table class="table table-bordered table-striped">
				<tr align="center">
					<td width="15%">Tabla</td>
					<td>Enlace</td>
					<td width="20%">Opciones</td>
				</tr>

				<tr>
					<td>usuarios</td>
					<td>
						<a href="#">http://localhost/Confident/confident/autolink.php</a>
					</td>
					<td>
						<a class="btn btn-xs btn-primary" href="#">Editar</a>
						<a class="btn btn-xs btn-danger" href="#">Eliminar</a>
					</td>
				</tr>

				<tr>
					<td>ventas</td>
					<td></td>
					<td>
						<a class="btn btn-xs btn-primary" href="#" title="Editar Enlace"><i class="fa-edit"></i></a>
						<a class="btn btn-xs btn-danger" href="#" title="Eliminar Enlace"><i class="fa-trash"></i></a>
					</td>
				</tr>
			</table>

		</div>
	</div>
</div>