body{
	background: black;
}

.text-bold{
	font-weight: bold;
}



.navbar-default{
	background-color: #3D9970 !important;
	border-radius: 0px;
	margin-bottom: 0px;
}

.navbar-default > .navbar-header > .navbar-brand{
	color: white;
	font-weight: bold;
}
.navbar-default > .navbar-header > .navbar-brand:hover{
	background: rgba(0, 0, 0, 0.15);
}

.navbar-default > .navbar-header > .navbar-toggle:hover {
	background-color: rgba(0, 0, 0, 0.5);
}
.navbar-default > .navbar-header >
.navbar-toggle > span.icon-bar {
	background-color: white !important;
}

.navbar-default .navbar-nav li > a{
	color: white;
	font-weight: bold;
	cursor: pointer;
}
.navbar-default .navbar-nav li a:hover{
	color: white;
	background: rgba(0, 0, 0, 0.15);
}
.navbar-default .navbar-nav li a:focus{
	color: white;
	background: rgba(0, 0, 0, 0);
	font-weight: bold;
}



.jumbotron .container-fluid {
	border-radius: 0px;
}



.table tr{
	background-color: white;
	font-weight: bold;
}
.table tr:hover td{
	background-color: rgba(0, 200, 0, 0.15);
}
.table tr:first-child{
	background-color: #3D9970 !important;
	color: white;
	font-weight: bold;
}



.modal-default > .modal-dialog
.modal-content .modal-header {
	color: white;
	background-color: #3D9970;
	border-radius: 5px 5px 0px 0px;
}

.modal-default > .modal-dialog
.modal-content .modal-footer a,
.modal-default > .modal-dialog
.modal-content .modal-footer button {
	font-weight: bold;
}