@font-face {
	font-family: 'IconMoonFree-fonts';
	src:url('fonts/IconMoonFree-fonts.eot?-pkcq0n');
	src:url('fonts/IconMoonFree-fonts.eot?#iefix-pkcq0n') format('embedded-opentype'),
		url('fonts/IconMoonFree-fonts.ttf?-pkcq0n') format('truetype'),
		url('fonts/IconMoonFree-fonts.woff?-pkcq0n') format('woff'),
		url('fonts/IconMoonFree-fonts.svg?-pkcq0n#IconMoonFree-fonts') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-moon-"], [class*=" icon-moon-"] {
	font-family: 'IconMoonFree-fonts';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-moon-share2:before {
	content: "\e600";
}
.icon-moon-mail:before {
	content: "\e601";
}
.icon-moon-mail2:before {
	content: "\e602";
}
.icon-moon-mail3:before {
	content: "\e603";
}
.icon-moon-mail4:before {
	content: "\e604";
}
.icon-moon-google:before {
	content: "\e605";
}
.icon-moon-google-plus:before {
	content: "\e606";
}
.icon-moon-google-plus2:before {
	content: "\e607";
}
.icon-moon-google-plus3:before {
	content: "\e608";
}
.icon-moon-google-drive:before {
	content: "\e609";
}
.icon-moon-facebook:before {
	content: "\e60a";
}
.icon-moon-facebook2:before {
	content: "\e60b";
}
.icon-moon-facebook3:before {
	content: "\e60c";
}
.icon-moon-ello:before {
	content: "\e60d";
}
.icon-moon-instagram:before {
	content: "\e60e";
}
.icon-moon-twitter:before {
	content: "\e60f";
}
.icon-moon-twitter2:before {
	content: "\e610";
}
.icon-moon-twitter3:before {
	content: "\e611";
}
.icon-moon-feed2:before {
	content: "\e612";
}
.icon-moon-feed3:before {
	content: "\e613";
}
.icon-moon-feed4:before {
	content: "\e614";
}
.icon-moon-youtube:before {
	content: "\e615";
}
.icon-moon-youtube2:before {
	content: "\e616";
}
.icon-moon-youtube3:before {
	content: "\e617";
}
.icon-moon-youtube4:before {
	content: "\e618";
}
.icon-moon-twitch:before {
	content: "\e619";
}
.icon-moon-vimeo:before {
	content: "\e61a";
}
.icon-moon-vimeo2:before {
	content: "\e61b";
}
.icon-moon-vimeo3:before {
	content: "\e61c";
}
.icon-moon-lanyrd:before {
	content: "\e61d";
}
.icon-moon-flickr:before {
	content: "\e61e";
}
.icon-moon-flickr2:before {
	content: "\e61f";
}
.icon-moon-flickr3:before {
	content: "\e620";
}
.icon-moon-flickr4:before {
	content: "\e621";
}
.icon-moon-picassa:before {
	content: "\e622";
}
.icon-moon-picassa2:before {
	content: "\e623";
}
.icon-moon-dribbble:before {
	content: "\e624";
}
.icon-moon-dribbble2:before {
	content: "\e625";
}
.icon-moon-dribbble3:before {
	content: "\e626";
}
.icon-moon-forrst:before {
	content: "\e627";
}
.icon-moon-forrst2:before {
	content: "\e628";
}
.icon-moon-deviantart:before {
	content: "\e629";
}
.icon-moon-deviantart2:before {
	content: "\e62a";
}
.icon-moon-steam:before {
	content: "\e62b";
}
.icon-moon-steam2:before {
	content: "\e62c";
}
.icon-moon-dropbox:before {
	content: "\e62d";
}
.icon-moon-onedrive:before {
	content: "\e62e";
}
.icon-moon-github:before {
	content: "\e62f";
}
.icon-moon-github2:before {
	content: "\e630";
}
.icon-moon-github3:before {
	content: "\e631";
}
.icon-moon-github4:before {
	content: "\e632";
}
.icon-moon-github5:before {
	content: "\e633";
}
.icon-moon-wordpress:before {
	content: "\e634";
}
.icon-moon-wordpress2:before {
	content: "\e635";
}
.icon-moon-joomla:before {
	content: "\e636";
}
.icon-moon-blogger:before {
	content: "\e637";
}
.icon-moon-blogger2:before {
	content: "\e638";
}
.icon-moon-tumblr:before {
	content: "\e639";
}
.icon-moon-tumblr2:before {
	content: "\e63a";
}
.icon-moon-yahoo:before {
	content: "\e63b";
}
.icon-moon-tux:before {
	content: "\e63c";
}
.icon-moon-apple:before {
	content: "\e63d";
}
.icon-moon-finder:before {
	content: "\e63e";
}
.icon-moon-android:before {
	content: "\e63f";
}
.icon-moon-windows:before {
	content: "\e640";
}
.icon-moon-windows8:before {
	content: "\e641";
}
.icon-moon-soundcloud:before {
	content: "\e642";
}
.icon-moon-soundcloud2:before {
	content: "\e643";
}
.icon-moon-skype:before {
	content: "\e644";
}
.icon-moon-reddit:before {
	content: "\e645";
}
.icon-moon-linkedin:before {
	content: "\e646";
}
.icon-moon-linkedin2:before {
	content: "\e647";
}
.icon-moon-lastfm:before {
	content: "\e648";
}
.icon-moon-lastfm2:before {
	content: "\e649";
}
.icon-moon-delicious:before {
	content: "\e64a";
}
.icon-moon-stumbleupon:before {
	content: "\e64b";
}
.icon-moon-stumbleupon2:before {
	content: "\e64c";
}
.icon-moon-stackoverflow:before {
	content: "\e64d";
}
.icon-moon-pinterest:before {
	content: "\e64e";
}
.icon-moon-pinterest2:before {
	content: "\e64f";
}
.icon-moon-xing:before {
	content: "\e650";
}
.icon-moon-xing2:before {
	content: "\e651";
}
.icon-moon-flattr:before {
	content: "\e652";
}
.icon-moon-foursquare:before {
	content: "\e653";
}
.icon-moon-paypal:before {
	content: "\e654";
}
.icon-moon-paypal2:before {
	content: "\e655";
}
.icon-moon-paypal3:before {
	content: "\e656";
}
.icon-moon-yelp:before {
	content: "\e657";
}
.icon-moon-file-pdf:before {
	content: "\e658";
}
.icon-moon-file-openoffice:before {
	content: "\e659";
}
.icon-moon-file-word:before {
	content: "\e65a";
}
.icon-moon-file-excel:before {
	content: "\e65b";
}
.icon-moon-libreoffice:before {
	content: "\e65c";
}
.icon-moon-html5:before {
	content: "\e65d";
}
.icon-moon-html52:before {
	content: "\e65e";
}
.icon-moon-css3:before {
	content: "\e65f";
}
.icon-moon-git:before {
	content: "\e660";
}
.icon-moon-svg:before {
	content: "\e661";
}
.icon-moon-codepen:before {
	content: "\e662";
}
.icon-moon-chrome:before {
	content: "\e663";
}
.icon-moon-firefox:before {
	content: "\e664";
}
.icon-moon-IE:before {
	content: "\e665";
}
.icon-moon-opera:before {
	content: "\e666";
}
.icon-moon-safari:before {
	content: "\e667";
}
.icon-moon-IcoMoon:before {
	content: "\e668";
}
